{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}
{% block breadcrumbs %}
    {% menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
<div class="row category-wrapper">
    <div class="col-xs-12 category-container">
        <h1 class="text-center">{{ sp_category.name }}</h1> 
    </div>
</div> 
<div class="row news-wrapper">
        <div class="col-xs-12 news-container">
        {% for news in sp_category.news.results %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center"><a href="{% url 'sp_news' path news.slug %}">{{ news.title }}</a></h2>
                    <p class="text-center">
                    {% with preamble=news.preamble|load_images %}
                        <span class="label {{ news.name }}">{{ preamble|safe }}</span>
                    {% endwith %}
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
  