{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}
{% block breadcrumbs %}
    {% menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
<div class="row category-wrapper">
        <div class="col-xs-12 category-container">
        {% for category in sp_categories.categories %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center"><a href="{% url 'sp_category' category.slug %}">{{ category.name }}</a></h2>
                    {% with description=category.description|load_images%}
                    <p>{{ description|safe }}</p>
                    <p class="text-center">
                        <span class="label {{ category.name }}">{{ category.name }}</span>
                    </p>
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
