{%load sbits_pages_tags %}
{% sbits_pages_catalog_tree as sp_categories %}
{% if sp_categories %}
    <li>
            <a href="{% url 'sp_categories_list' %}" class="menu-item">{{ sp_categories.info_page_name }}</a>
            <ul>
            {% for category in sp_categories.categories %}
            <li>
                <a href="{% url 'sp_category' category.slug %}" class="menu-item">{{ category.name }}</a>
            </li>
            {% endfor %}
            </ul>
    </li>
{% endif %}