{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}
{% block breadcrumbs %}
    {% menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
<div class="row news-wrapper">
    <div class="col-xs-12 news-container">
        <h1 class="text-center">{{ news.title }}</h1> 
    {% if news.text %}
        <h2>{% trans "Description" %}</h2>
        {% with text=news.text|load_images%}
        <div>{{ text|safe }}</div>
        {% endwith %}
    {% endif %}
    </div>
</div> 
{% endblock %}
