@mixin font($alias, $name) {
	@font-face{
		font-family: $alias;
		src: url("fonts/" + $name + ".eot");
		src: url("fonts/" + $name + ".eot?#iefix") format("embedded-opentype"), url("fonts/" + $name + ".woff") format("woff"), url("fonts/" + $name + ".ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}
}

@mixin placeholder-color($color) {
	&:-moz-placeholder{color: $color}
	&::-webkit-input-placeholder{color: $color}
}

@mixin placeholder {
	&:-ms-input-placeholder{@content}
	&:-moz-placeholder{@content}
	&::-moz-placeholder{@content}
	&::-webkit-input-placeholder{@content}
	&::placeholder{@content}
}

@mixin icon-pseudo($image, $left, $top) {
	content: '';
	position: absolute;
	top: $top;
	left: $left;
	@include s($image);
}
@mixin ip($image, $left, $top) {@include icon-pseudo($image, $left, $top);}

@mixin cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

@mixin unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin nosel {@include unselectable;}

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin bb {@include border-box;}

@mixin center-both {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}

@mixin center-h-unk {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

@mixin fontsize($size) {
	$base-font-size: 16px !default;
	@if (unitless($size)){
		$size: $size * 1px;
	}
	font-size: $size;
	font-size: ($size / $base-font-size) * 1rem;
}

@mixin ha{@include transform(translate3d(0,0,0));}

@mixin position($type, $top, $right, $bottom, $left) {
	position: $type;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
@mixin size($width, $height) {
	width: $width;
	height: $height;
}