{% extends "admin/base.html" %}
{% load admin_static %}

{# Additional <head> content here, some extra meta tags or favicon #}
{#{% block extrahead %}#}
{#{% endblock %}#}


{# Additional CSS includes #}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin.extras.css' %}" media="all">
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{#{% block extrajs %}#}
{#  <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}


{# Footer links (left side) #}
{#{% block footer_links %}#}
  {#<a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>#}
{#{% endblock %}#}

{# Additional header content like notifications or language switcher #}
{% block header_content %}
    {{ block.super }}
    <div class="header-content">
        <div id="header-info-messages" class="header-column icon">
        {% if request.maintenance_messages %}
        {% for m in request.maintenance_messages %}
        <div class="span12 row-fluid header-info-message">
            {% if m.type == 0 or m.type == 5 %}
                <div class="span11 text-info-message">
                    
                    {{ m.message|safe }}
                </div>
             {% endif %}
            {% if m.type == 15 %}
                 <div class="span11 text-info-message">
                    <span class="text-warning">{{ m.message|safe }}</span>
                </div>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}

{# Footer branding name (center) #}
{#{% block footer_branding %}#}
{#{% endblock %}#}


{# Footer copyright (right side) #}
{% block copyright %}
    {# Copyright &copy; 2013 Client<br>Developed by <a href="http://yoursite.com" target="_blank">YourName</a> #}
{% endblock %}
