#header-info-messages {
    overflow:hidden;   
    width:450px; 
    z-index:7;
    position: absolute;
    height: 35px;
    border: 0;
}
#header-info-messages .header-info-message {
    height: 38px;
}

#header-info-messages:hover {
    overflow: visible;
    background-color: #3d4143;
    height: auto;
}