{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>We're down for maintenance.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <style>

        * {
            line-height: 1.5;
            margin: 0;
        }

        html {
            color: #888;
            font-family: sans-serif;
            text-align: center;
        }

        body {
            left: 50%;
            margin: -43px 0 0 -150px;
            position: absolute;
            top: 50%;
            width: 330px;
        }

        h1 {
            color: #555;
            font-size: 2em;
            font-weight: 400;
        }

        p {
            line-height: 1.2;
        }

        @media only screen and (max-width: 270px) {

            body {
                margin: 10px auto;
                position: static;
                width: 95%;
            }

            h1 {
                font-size: 1.5em;
            }

        }

    </style>
</head>
<body>
    <h1>We're down for maintenance.</h1>
    {% for message in messages %}
    <div class="message">{{ message.message }}<br/><br/>    
        {% if message.end_time %}
        Service window is between {{ message.start_time }} and {{ message.end_time }}
        {% else %}
        Service window is between {{ message.start_time }}  and unknown
        {% endif %}
    </div>
    <br>
{% endfor %}
</body>
</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
