{% load i18n %}
{% load page_tags %}
{% load compress %}
{% load staticfiles %}
{% load checkout_tags %}
{% load core_tags %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ shop_title }}{% endblock %}</title>
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="cleartype" content="on">

        <link rel="shortcut icon" href="/static/img/favicon.png">

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        {% canonical_links %}
        {% if cannonical_url %}
            <link rel="canonical" href="{{ cannonical_url }}" >
        {% endif %}
        

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->
        {% compress css %}
            <link href="{% static 'vendor/jquery.sapling/jquery.sapling.css' %}" rel="stylesheet"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/sass/style.css' %}"/>
        {% endcompress %}
        {% block head_bottom %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="container">
            <div id="container__inner">
                {% block body_top %}{% endblock %}
                <div class="container-fluid">
                    <header class="text-center">
                        {% include "header.html" %}
                    </header>

                    {% block breadcrumbs %}{% include "breadcrumbs.html" %}{% endblock %}
                    
                    {% block content %}{% endblock %}
                    
                </div>

                <div class="container-fluid">
                    {% pages_block %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__inner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="desktop-version-toolbar">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <p class="text-center"><a href="{{ shop_domain }}?flavour=full">Полная версия</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container-fluid">
                    <footer class="row">
                        <div class="col-xs-12">
                            <p class="text-center">&copy; 2014 - 
                            <a href="http://aquaweb.com.ua/articles/sozdanie-internet-magazinov/stoimost-internet-magazina">
                            Cоздание интернет-магазина<br/>ООО "Аква-вебстудио"</a></p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        
        {% compress js %}
            <script src="{% static 'vendor/jquery/jquery-2.1.0.min.js' %}"></script>
            <script src="{% static 'vendor/modernizr/modernizr-2.7.1.min.js' %}"></script>
            <script src="{% static 'vendor/jquery.sapling/jquery.sapling.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/libs/jquery.inputmask.bundle.min.js' %}"></script>
            <script src="{% static 'js/helper.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
            <script type="text/javascript">
                $.ajaxSetup({ 
                     beforeSend: function(xhr, settings) {
                         function getCookie(name) {
                             var cookieValue = null;
                             if (document.cookie && document.cookie != '') {
                                 var cookies = document.cookie.split(';');
                                 for (var i = 0; i < cookies.length; i++) {
                                     var cookie = jQuery.trim(cookies[i]);
                                     // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                         }
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             // Only send the token to relative URLs i.e. locally.
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     } 
                });
            </script>
        {% endcompress %}

        {% block body_bottom %}{% endblock %}

        {% block monitoring %}
            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
                // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                // e.src='//www.google-analytics.com/analytics.js';
                // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                // ga('create','UA-XXXXX-X');ga('send','pageview');
            </script>
        {% endblock %}
    </body>
</html>