{% load i18n %}
<div class="row">
<div class="col-xs-12">
<ol class="breadcrumb">
  <li><a href="/">{% trans "Home" context 'breadcrumbs' %}</a></li>
  {% if category %}
    {% if product or page_type == 'filters' %}
        <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
        {% if page_type == 'filters' %}
            <li class="active">{% trans "Search by properties" %}</li>
        {% endif %}
    {% else %}
        <li class="active">{{ category.name }}</li>
    {% endif %}
  {% endif %}
  {% if product %}
    {% if 'p-images' in request.path %}
        <li><a href="{% url 'product' product.slug %}">{{ product.name }}</a></li>
        <li class="active">{% trans 'All images' %}</li>
    {% elif 'p-reviews' in request.path %}
        <li><a href="{% url 'product' product.slug %}">{{ product.name }}</a></li>
        <li class="active">{% trans 'Reviews' %}</li>
    {% else %}
        <li class="active">{{ product.name }}</li>
    {% endif %}
  {% endif %}
  {% if page %}
    <li class="active">{{ page.title }}</li>
  {% endif %}
  {% if sp_categories %}
  <li class="active">{{ sp_categories.info_page_name }}</li>
  {% endif%}
  {% if sp_category %}
  <li><a href="{% url 'sp_categories_list' %}">{{ sp_category.info_page_name }}</a></li>
    <li class="active">{{ sp_category.name }}</li>
  {% endif %}
  {% if news %}
     <li><a href="{% url 'sp_categories_list' %}">{{ news.info_page_name }}</li>
    {% if sp_category_news %}
    <li><a href="{% url 'sp_category' sp_category_news.slug %}">{{ sp_category_news.name }}</a></li>
    {% endif%}
    <li class="active">{{ news.title }}</li>
  {% endif%}
  {% if '/product-list' in request.path %}
    {% if product_list_items %}
      <li>
        <a href="{% url 'get_product_lists' %}">{% trans 'Product lists' %}</a>
      </li>
      <li class="active">{{ product_list.name }}</li>
    {% elif product_lists %}
      <li class="active">
        {% trans 'Product lists' %}
      </li>
    {% endif %}
  {% endif %}
</ol>
</div>
</div>
