{% load i18n %}
{% load staticfiles %}
{% load checkout_tags %}
{% if request.maintenance_messages %}
    <div class="row">
        {% for message in request.maintenance_messages %}
            {% if message.type == 5 or message.type == 10 %}
                <div class="col-xs-12 bg-info">
                    {{ message.message|safe }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<div class="row top-toolbar">
    <div class="col-xs-3 logo-wrapper">
        <a href="{% url 'index' %}" class="toolbar logo">
            <img src="{% static 'img/logo.png' %}" class="logo-image" alt="logo">
        </a>
    </div>
    <div class="col-xs-3 top-toolbar-button">
        <a href="{% url 'login' %}" class="toolbar">
            <span class="glyphicon glyphicon-user block"></span>
            <span>
                {% if request.user.is_authenticated %}
                    {% trans 'Account' %}</span>
                {% else %}
                    {% trans 'Login' %}
                {% endif %}
            </span>
        </a>
    </div>
    <div class="col-xs-3 top-toolbar-button">
        <a href="{% url 'search' %}" class="toolbar">
            <span class="glyphicon glyphicon-search block"></span>
            <span>Поиск</span>
        </a>
    </div>
    <div class="col-xs-3 top-toolbar-button cart-link">
        <a href="{% url 'cart' %}" class="toolbar">
            <span class="cart-link__count">{% cart_items_count %}</span>
            <span class="glyphicon glyphicon-shopping-cart block"></span>
            <span>{% trans "Cart" %}</span>
        </a>
    </div>
</div>