{% extends "base.html" %}
{% load catalog_tags %}
{% load sbits_pages_tags %}
{% load i18n %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div class="row category-menu-wrapper">
    <div class="col-xs-12 category-menu-container">
    <ul id="category-menu">
        {% for c in categories %}
        {% if c.level == 0 %}
            <li>
                {% if c.template == 0 %} 
                    <a href="{% url 'category' c.slug %}" class="menu-item">{{ c.name }}</a>
                {% else %}
                    <span class="menu-item">{{ c.name }}</span>
                {% endif %}
            {% if c.all_children %}
                <ul>
                    {% menu_tree c %}
                </ul>
            {% endif %}
            </li>
        {% endif %}
        {% endfor %}

        {% comment %}
        <li><a href="#">Крупная бытовая техника</a>
            <ul>
                <li><a href="#">Холодильники</a></li>
                <li><a href="#">Стиральные машины</a></li>
                <li><a href="#">Плиты</a></li>
                <li><a href="#">Морозильные камеры</a></li>
            </ul>
        </li>
        <li><a href="#">Встраиваемая техника</a>
            <ul>
                <li><a href="#">Встраиваемые варочные поверхности</a></li>
                <li><a href="#">Вытяжки</a></li>
                <li><a href="#">Встраиваемые духовые шкафы</a></li>
                <li><a href="#">Встраиваемые посудомоечные машины</a></li>
            </ul>
        </li>
        <li><a href="#">Категория 3</a>
            <ul>
                <li><a href="#">Подкатегория 3.1</a></li>
                <li><a href="#">Подкатегория 3.2</a></li>
                <li><a href="#">Подкатегория 3.3</a>
                    <ul>
                        <li><a href="#">Подкатегория 3.3.1</a></li>
                        <li><a href="#">Подкатегория 3.3.2</a></li>
                        <li><a href="#">Подкатегория 3.3.3</a></li>
                    </ul>                        
                </li>
            </ul>
        </li>
        {% endcomment %}
        {% show_sbits_pages_tree %}
    </ul>    
    </div>
</div>
{% endblock %}

{% block body_bottom %}
<script>
    $('#category-menu').sapling();
</script>
{% endblock %}
