{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		{% if request.user.is_authenticated %}
			<div class="row">
				<div class="col-xs-12">
					<div class="col-xs-6">
						<h1>{{ customer.username }}</h1>
					</div>
					<div class="col-xs-6">
						<h1>
						<a class="btn btn-warning pull-right" href="{% url 'logout' %}">
							{% trans "Logout" %}
						</a>
						</h1>
					</div>
				</div>
			</div>
			{% if customer.email %}
				<div class="form-group btn-lg">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ customer.email }}
				</div>
			{% endif %}
			{% if customer.phone %}
				<div class="form-group btn-lg">
					<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ customer.phone }}
				</div>
			{% endif %}
			
			{% if orders %}
				<h2>{% trans 'Your orders' %}</h2>
				<table class="table">
					<tr>
						<th>{% trans 'Number' %}</th>
						<th>{% trans 'Date' %}</th>
						<th>{% trans 'Price' %}</th>
						<th>{% trans 'Status' %}</th>
					</tr>
					{% for order in orders %}
						<tr>
							<th>{{ order.number }}</th>
							<th>{{ order.created }}</th>
							<th>{{ order.price|floatformat:"2" }} {{ currency.abbr }}</th>
							<th>{{ order.status }}</th>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		{% else %}
			<h1>{% trans "Authorization" %}</h1>
		<form class="form-vertical" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			{% if form.errors %}
				<div class="has-error">
					<label class="control-label">
						{% trans "Your username and password didn't match. Please try again." %}
					</label>
				</div>
			{% endif %}
			<div class="form-group">
			    <label>{{ form.username.label }}</label>
			    <input type="text" class="form-control" name="username">
			</div>
			<div class="form-group">
				<label>{{ form.password.label }}</label>
				<input type="password" class="form-control" name="password">
			</div>
			<div class="form-group">
				<input class="btn btn-success btn-block" type="submit" value="{% trans 'Login' %}" />
			</div>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
