{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}

{% block body_class %}static-page{% endblock %}

{% block content %}
<div class="row">
<div class="col-xs-12">
<h1>{{ page.title }}</h1>

{{ page.body|load_images|safe }}
</div>
</div>
{% endblock %}
