{% load i18n %}
<nav class="row navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-pages-navbar-collapse">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <span class="navbar-brand" data-toggle="collapse" data-target="#bs-pages-navbar-collapse">Информация</span>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-pages-navbar-collapse">
        <ul class="nav navbar-nav">
            {% for page in static_pages %}
                <li>
                    <a href="{% url 'page' page.slug %}" >
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>