 
{% extends "base.html" %}
{% load i18n %}
{% load shini_i_diski_theme_tags %}
{% load catalog_tags %}
{% block breadcrumbs %}
    {% menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
<div class="row category-wrapper">
        <div class="col-xs-12 category-container">
        {% for prod_list in product_lists %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center"><a href="{% url 'get_product_list' prod_list.slug %}">{{ prod_list.name }}</a></h2>
                    {% if prod_list.logo %}
                        <img class="img-responsive center-block" src="{{ shop_domain }}{{ prod_list.logo|strip_str:"/" }}" alt="">
                    {% endif %}
                    {% with description=prod_list.description|load_images%}
                    <p>{{ description|safe }}</p>
                    <p class="text-center">
                        <span class="label {{ prod_list.slug }}">{{ prod_list.name }}</span>
                    </p>
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}