{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}

{% block breadcrumbs %}
    {% menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row product-wrapper">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <br class="hidden-lg"/>
                            <form class="form-inline" role="form" method="GET">
                                <div class="input-group" style="width:100%;">
                                    <select class="form-control" name="sorting">
                                        {% for st in sort_types %}
                                            <option value="{{ st.sortable_fields }}"
                                            {% ifequal st.sortable_fields current %}selected="selected"{% endifequal %}>
                                            {{ st.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-block" type="submit">{% trans 'Sort' %}</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row category-wrapper">
        <div class="col-xs-12 category-container">
            <h1>{{ product_list.name }} ({{ count }})</h1>
            {% for p in product_list_items %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 class="text-center"><a href="{% url 'product' p.product.slug %}">{{ p.product.name }}</a></h2>
                        <a href="{% url 'product' p.product.slug %}">
                            <img src="{{ shop_domain }}{{ p.product.huge_image_url }}" alt="{{ p.product.name }}" class="img-responsive center-block"/>
                        </a>
                        <p>{{ p.product.short_description|safe }}</p>
                        <p class="text-center">
                            <span class="label {{ p.product.status.css_class }}">{{ p.product.status.name }}</span>
                        </p>
                        <p class="item-price text-center">{{ p.product.price|floatformat:2 }} {{ currency.abbr }}</p>
                        {% if p.product.variants %}
                            <div class="text-center">
                                <a href="{% url 'product' p.product.slug %}" class="btn btn-lg btn-success">{% trans 'Buy' %}</a>
                            </div>
                        {% else %}
                            <form action="{% url 'buy_product' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ p.product.id }}">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-lg btn-success" value="{% trans 'Buy' %}">
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
<nav>
    <ul class="pager">
        {% if previous %}
            <li><a href="{{ previous }}">&larr; {% trans 'Previous' %}</a></li>
        {% endif %}
        {% if next %}
            <li><a href="{{ next }}">{% trans 'Next' %} &rarr;</a></li>
        {% endif %}
    </ul>
</nav>
        </div>
    </div>
{% endblock %}