{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}

{% block breadcrumbs %}
    {% menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row product-wrapper">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="btn btn-primary btn-block" href="{% url 'filters' category.slug %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">{% trans "Search by properties" %}</a>
                        </div>
                        <div class="col-lg-6">
                            <br class="hidden-lg"/>
                            <form class="form-inline" role="form" method="GET">
                                <div class="input-group" style="width:100%;">
                                    <select class="form-control" name="sorting">
                                        {% for st in sort_types %}
                                            <option value="{{ st.sortable_fields }}"
                                            {% ifequal st.sortable_fields current %}selected="selected"{% endifequal %}>
                                            {{ st.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-block" type="submit">{% trans 'Sort' %}</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row category-wrapper">
        <div class="col-xs-12 category-container">
            <h1>{{ category.meta_h1 }} ({{ count }})</h1>
            {% include 'catalog/products_list.html' %}
        </div>
    </div>
{% endblock %}