{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
<div class="col-xs-12">
<h1>{% trans "Search by properties" %}</h1>
{% if filters %}
    <form class="form-vertical" action="" method="POST" role="form">
        {% csrf_token %}
        {% for filter in filters %}
            <div class="form-group">
                <label class="control-label">
                    {{ filter.displayed_title }}
                </label>
                {% if filter.type == 0 %}
                    {% for fo in filter.filteroption_set %}
                        {% if fo.products %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="{{ filter.identificator }}" value="{{ fo.identificator }}"
                                    {% if fo.checked %}checked{% endif %}>{{ fo.title }}
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if filter.type == 5 %}
                    <select name="{{ filter.identificator }}" class="form-control">
                        <option value="none">---</option>
                        {% for fo in filter.filteroption_set %}
                            {% if fo.products %}
                                <option value="{{ fo.identificator }}" {% if fo.selected %}selected{% endif %}>{{ fo.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
                {% if filter.type == 10 %}
                    {% for fo in filter.filteroption_set %}
                        {% if fo.products %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="{{ filter.identificator }}" value="{{ fo.identificator }}" 
                                    {% if fo.checked %}checked{% endif %}>{{ fo.title }}
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if filter.type == 20 %}
                    <div class="row form-group">
                        <label class="col-xs-2 control-label">{% trans "From:" %}</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="{{ filter.identificator }}"
                             value="{% if filter.min_value_init %}{{ filter.min_value_init|floatformat }}{% else %}{{ filter.min_value|floatformat }}{% endif %}" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-xs-2 control-label">{% trans "To:" %}</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="{{ filter.identificator }}"
                             value="{% if filter.max_value_init %}{{ filter.max_value_init|floatformat }}{% else %}{{ filter.max_value|floatformat }}{% endif %}" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-10 col-xs-offset-2">
                            <button class="form_submit btn btn-success" type="submit">{% trans "OK" %}</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-success btn-block" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
{% else %}
    {% trans 'in the selected category are no filters' %}
{% endif %}
</div>
</div>
{% endblock %}
