{% load catalog_tags %}
{% for child in children %}
	<li>
		{% if child.template == 0 %} 
			<a href="{% url 'category' child.slug %}" class="menu-item">{{ child.name }}</a>
		{% else %}
			<span class="menu-item">{{ child.name }}</span>
		{% endif %}
		{% if child.all_children %}
	        <ul>
				{% menu_tree child %}
			</ul>
		{% endif %}
	</li>
{% endfor %}