 {% load catalog_tags %}
 {% load i18n %}
 <nav class="row navbar navbar-default" role="categories">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-categires-navbar-collapse">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <span class="navbar-brand" data-toggle="collapse" data-target="#bs-categires-navbar-collapse">{% trans 'Catalog' %}</span>
    </div>

    <div class="collapse navbar-collapse" id="bs-categires-navbar-collapse">
        <ul id='category-menu'>
            {% for c in categories %}
                {% if c.level == 0 %}
                    <li>
                        {% if c.template == 0 %} 
                            <a href="{% url 'category' c.slug %}" class="menu-item">{{ c.name }}</a>
                        {% else %}
                            <span class="menu-item">{{ c.name }}</span>
                        {% endif %}
                        
                    {% if c.all_children %}
                        <ul>
                            {% menu_tree c %}
                        </ul>
                    {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</nav>
