{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}

{% block breadcrumbs %}
    {% menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="row product-wrapper">
    <div class="col-xs-12 category-container">
        <h1 class="text-center">{{ product.meta_h1 }}</h1>
        <a href="{{ shop_domain }}{{ product.huge_image_url }}"><img src="{{ shop_domain }}{{ product.huge_image_url }}" alt="{{ product.name }}" class="img-responsive center-block"/></a>
        {% if product.images|length > 1 %}
            <p class="text-center">
                <a href="{% url 'product_images' product.slug %}">{% trans "All images" %}</a>
            </p>
        {% endif %}
        <p class="text-center">
            <span class="label {{ product.status.css_class }}">{{ product.status.name }}</span>
        </p>
        <p class="item-price text-center">{{ product.price|floatformat:2 }} <span>{{ currency.abbr }}</span></p>
        <form action="{% url 'buy_product' %}" method="POST">
            {% csrf_token %}
            {% if variants %}
                <table>
                {% for v in variants %}
                    <tr>
                        <td>
                            {{ v.name }}
                        </td>
                        <td>
                            <input type="hidden" name="products" value="{{ v.id }}">
                            <input type="number" name="product_{{ v.id }}">
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="amount" value="1"> 
            {% endif %}
            <div class="text-center">
                <input type="submit" class="btn btn-lg btn-success" value='{% trans "Buy" %}'>
            </div>
        </form>
    {% if product.property_values %}
    <h2>{% trans "Properties" %}</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{% trans "Property" %}</th>
                <th>{% trans "Value" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for pv in product.property_values %}
            <tr>
                <td>{{ pv.property.name }}</td>
                <td>{{ pv.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if product.description %}
        <h2>{% trans "Description" %}</h2>
        <div>{{ product.description|safe }}</div>
    {% endif %}
    <div class="form-group">
        <a href="{% url 'product_reviews' product.slug %}">{% trans "Show product reviews" %}</a>
    </div>
    </div>
</div>
{% endblock %}
{% block body_bottom %}
<script>
    $('#category-menu').sapling();
</script>
{% endblock %}