{% load i18n %}
{% for p in products %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="text-center"><a href="{% url 'product' p.slug %}">{{ p.name }}</a></h2>
            <a href="{% url 'product' p.slug %}">
                <img src="{{ shop_domain }}{{ p.huge_image_url }}" alt="{{ p.name }}" class="img-responsive center-block"/>
            </a>
            <p>{{ p.short_description|safe }}</p>
            <p class="text-center">
                <span class="label {{ p.status.css_class }}">{{ p.status.name }}</span>
            </p>
            <p class="item-price text-center">{{ p.price|floatformat:2 }} {{ currency.abbr }}</p>
            {% if p.variants %}
                <div class="text-center">
                    <a href="{% url 'product' p.slug %}" class="btn btn-lg btn-success">{% trans 'Buy' %}</a>
                </div>
            {% else %}
                <form action="{% url 'buy_product' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ p.id }}">
                    <div class="text-center">
                        <input type="submit" class="btn btn-lg btn-success" value="{% trans 'Buy' %}">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endfor %}
<nav>
    <ul class="pager">
        {% if previous %}
            <li><a href="{{ previous }}">&larr; {% trans 'Previous' %}</a></li>
        {% endif %}
        {% if next %}
            <li><a href="{{ next }}">{% trans 'Next' %} &rarr;</a></li>
        {% endif %}
    </ul>
</nav>