{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% for i in product.images %}
<div class="form-group">
    <img src="{{ shop_domain }}{{ i.url_huge }}" alt="{{ i.title }}" class="img-responsive" />
    <span>{{ i.title }}</span>
</div>
{% endfor %}
{% endblock %}
