{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% for r in reviews %}
<div class="product-review">
    <span>{{ r.user_name }}</span>
    <span>{{ r.user_email }}</span>
    <p>{{ r.comment }}</p>
    <span>{% trans "Score:" %} {{ r.score }}</span>
    <span>{{ r.creation_date }}</span>
</div>
{% empty %}
<div class="alert alert-info">{% trans "There are no reviews yet." %}</div>
{% endfor %}
{% endblock %}
