{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{% trans "Search" %}</h1>
            <form class="form-vertical" action="" method="GET">
                <div class="form-group">
                <input class="form-control" type="text" name="q" placeholder="{% trans 'Type the search string here...' %}" {% if query %}value="{{ query }}"{% endif %}>
                </div>
                <button class="btn btn-success btn-block" type="submit">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
    {% if products %}
        <div class="row">
            <div class="col-xs-12">
                <h3>{% trans 'Products found'%}({{ count }})</h3>
                {% include 'catalog/products_list.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
