{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
<div class="col-xs-12">
	<h1>{% trans 'Checkout' %}</h1>
	{% if items %}
		<form class="form horizontal-form" action='' method="POST">
			{% csrf_token %}
			{% for item in items %}
	            <div class="cart_item_block">
	                <div class='item_name form-group'><h4>{{ item.product.name }}</h4></div>
	                <div class='item_price_block form-group row'>
	                    <div class="item_amount form-group form-group-sm col-xs-12">
	                        <div class="row">
	                            <div class="col-xs-8">
	                            	{{ item.product.price }} {{ currency.abbr }} x {{ item.amount|floatformat }}
	                            </div>
	                            <div class="item_price col-xs-4">
	                            	<span class="pull-right">{{ item.product.total_price }} {{ currency.abbr }}</span>
	                            </div>
	                        </div>
	                    </div>
	                    
	                </div>
	            </div>
	        {% endfor %}
	     	<div class="voucher-wrapper">
	       		{% include 'checkout/voucher.html' %}
			</div>
	        <div class="form-group">
	        	<span class="cart_total">{% trans 'Total:' %}</span>
	        	<span class='pull-right'><span class="total-price">{{ total_price }}</span> {{ currency.abbr }}</span>
	        </div>
			{% for field in fields %}
				{% if forloop.last %}
					<div class="form-group">
						<label class="control-label">{% trans 'Shipping method' %}</label>
						<select name="shipping_method" class="form-control main-shipping-form-field">
							{% for shipping in shipping_methods %}
								<option value="{{ shipping.id }}">{{ shipping.name }}</option>
							{% endfor %}
						</select>
						<div class="ajax-form-fields">
							{% include 'checkout/shipping_form_fields.html' with shipping_form=shipping_form_fields %}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">{% trans 'Payment method' %}</label>
						<select name="payment_method" class="form-control">
							{% for payment in payment_methods %}
								<option value="{{ payment.id }}">{{ payment.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group {% if field.error %}has-error{% endif %}">
						<label class="control-label">{{ field.label }}{% if field.required %} *{% endif %}</label>
						<input class="form-control" type="text" name="{{ field.name }}">
						<span class="help-block">{{ field.error.0 }}</span>
					</div>
				{% else %}
					<div class="form-group {% if field.error %}has-error{% endif %}">
						<label class="control-label">{{ field.label }}{% if field.required %} *{% endif %}</label>
						{% if field.type == 'BooleanField' %}
						<input class="form-control" type="checkbox" name="{{ field.name }}">
						{% else %}
						<input class="form-control" type="text" name="{{ field.name }}" value="{{ field.default_value }}">
						{% endif%}
						<span class="help-block">{{ field.error.0 }}</span>
					</div>
				{% endif %}
			{% endfor %}
			<div class="form-group">
				<div class="price-depending">{{ order_comment }}</div>
			</div>
			<div class="form-group">
				<input type="submit" value="{% trans 'Confirm checkout' %}" class="btn btn-success btn-block">
			</div>
		</form>
	{% else %}
		<div class='alert alert-info'>{% trans 'There is nothing to checkout' %}</div>
	{% endif %}
</div>
</div>
{% endblock %}
