{% for field in shipping_form %}
<div class="form-group {% if field.error %}has-error{% endif %}">
	<label class="control-label">{{ field.label }}{% if field.required %} *{% endif %}</label>
	{% if field.type == 'BooleanField' %}
	<input class="form-control" type="checkbox" name="{{ field.name }}">
	{% else %}
	<input class="form-control" type="text" name="{{ field.name }}" value="{{ field.default_value }}">
	{% endif%}
	<span class="help-block">{{ field.error.0 }}</span>
</div>
{% endfor %}