{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<h1>{% trans 'Thank you' %}</h1>
	<div class="thank-you-text">
		{% trans 'Thank you for your order. The store manager will contact you soon.' %}
	</div>
{% endblock %}
