{% load i18n %}
{% if show_voucher and not cart_readonly %}
{% if not display_voucher %}<a id="show_voucher" class="btn btn-success btn-block">{% trans "Add voucher" %}</a>{% endif %}
<div {% if not display_voucher %}style="display:none;" class="hidden"{% endif %} id="div_voucher">
	<div class="form-group {% if voucher_value == 0 and voucher_number %} has-error {% endif %}" >
	    <input data="{% url 'check_voucher' %}"
	           type="text"
	           id="voucher"
	           class="form-control"
	           name="voucher"
	           {% if voucher_number %}value="{{ voucher_number }}"{% endif %}
	           size="30" />
	     {% if voucher_value == 0 and voucher_number  %}<span class="help-block">{{ voucher_message }}</span>{% endif %}
    </div>
    <a id="voucher_check" class="btn btn-success btn-block">{% trans "Apply" %}</a>
    
    <br>
    {% if voucher_value %}
    <table style="width:100%">
        <tr>
            <td>
            {{ voucher_group }}
            </td>
            <td class="number pull-right">
            	{{ voucher_value }} {{ currency.abbr }}
            </td>
        </tr>
    </table>
    {% endif %}
</div>
{% endif %}