{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row cart">
    <div class="col-xs-12">
        <h1>{% trans "Cart" %}</h1>
        <form class="form-vertical" method="GET" action="{% url 'checkout' %}">
            {% if items %}
                {% for item in items %}
                    <div class="panel product">
                        <h2 class="form-group">{{ item.product.name }}</h2>
                        <div class="form-group"><img src="{{ shop_domain }}{{ item.product.huge_image_url }}" class="img-responsive center-block"/></div>
                        <div class="row form-group">
                            <div class='item_remove_btn col-xs-2'>
                                <a href="javascript:remove_product({{item.id}})"><i class='glyphicon glyphicon-remove'></i></a>
                            </div>
                            <div class="item_amount form-group form-group-sm col-xs-5">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" id="item_amount_{{ item.id }}" value="{{ item.amount|floatformat }}" class="form-control js-inputmask">
                                    </div>
                                    <div class="col-xs-6 item_update_btn">
                                        <a href="javascript:change_amount({{ item.id }})" >
                                        <i class="glyphicon glyphicon-refresh"></i></a>
                                        <span>{{ item.product.unit }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-price col-xs-5">{{ item.product.total_price|floatformat:2 }} {{ currency.abbr }}</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row form-group total-price">
                    <div class="col-xs-7">{% trans 'Total:' %}</div>
                    <div class="col-xs-5">{{ total_price|floatformat:2 }} {{ currency.abbr }}</div>
                </div>
                <div class="form-group">
                    <p class="price-depending">Окончательная цена заказа может отличаться от указанной, в зависимости от выбранного способа доставки, оплаты и т.д.</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">{% trans "Send order" %}</button>
                </div>
            {% else %}
                <div class="alert alert-info">{% trans "Cart is empty." %}</div>
            {% endif %}
            
        </form>
    </div>
</div>
<script type="text/javascript">
    function remove_product(cart_item_id){
        $.ajax({
            url: "{% url 'remove_product_from_order' %}",
            type: "POST",
            dataType: "json",
            data: {
                'cart_item_id': cart_item_id,
            },
            success:function (msg) {
                location.reload()
            }
        });
    };
    function change_amount(cart_item_id){
        var amount_id = '#item_amount_' + cart_item_id
        $.ajax({
            url: "{% url 'change_cart_item_amount' %}",
            type: "POST",
            dataType: "json",
            data: {
                'cart_item_id': cart_item_id,
                'amount': $(amount_id).val()
            },
            success: function (msg) {
                location.reload()
            }
        });
    };
</script>
{% endblock %}
