{% load i18n %}
{% if urls %}
<div class='stepbystep-recommended'>

	<h3>{{ category.name }} {% trans "for car" %} {{ name }}</h3>	
	<div class="car-description">{{ description }}</div>
	<div class='car-links'>
	{% for i, filter_urls in urls.iteritems %}
		<p>
			{{ i.1 }}
			{% for filter_url in filter_urls %}
				{% if request.get_full_path == filter_url.filter_url %}
					<label class="control-label">{{ filter_url.caption }}</label>
				{% else %}
					<a href="{{ filter_url.filter_url }}">{{ filter_url.caption }}</a>
				{% endif %}
				{% if not forloop.last %},{% endif %}
			{% endfor %}
		</p>
	{% endfor %}
	</div>
</div>
{% endif %}