<h4>{{ title }}</h4>
<div class="form">
    {% csrf_token %}
    {% for select in selects %}
        <div class="form-group">
            <label>{{ select.level_name }}</label>
            {% if select.options %}
                <select name="step_item_id_{{ select.options.0.parent.id }}" class="form-control">
                    <option>---</option>
                    {% for o_id, o_name in select.options %}
                        <option value="{{ o_id }}" {% if select.init == o_id %}selected{% endif %}>{{ o_name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <select disabled class="form-control">
                </select>
            {% endif %}
        </div>
    {% endfor %}
</div>
