{% extends "base.html" %}
{% block content %}
    <div id="step-by-step">
        {{ form|safe }}
    </div>
{% endblock content %}
{% block body_bottom %}
    <script type="text/javascript">
        $(document).ready(function() {
            reload_stepbystep_form($("#step-by-step select"), {{ portlet_id }});
        });
    </script>
{% endblock body_bottom %}