{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}admin/css/forms.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dbsettings{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<ul class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
    <span class="divider">&raquo;</span></li>
    <li class="active">{% trans "Edit Settings" %}</li>
</ul>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}
{% if form.fields %}
{% regroup form by module_name as modules %}
<form enctype="multipart/form-data" method="post">
    {% for module in modules %}
        <div class="module">
            <table summary="{% filter capfirst %}{% blocktrans with module.grouper as name %}Models available in the {{ name }} application.{% endblocktrans %}{% endfilter %}" width="100%" class="table table-bordered table-hover table-striped">
            <caption class="text-left lead">{% filter capfirst %}{{ module.grouper }}{% endfilter %}</caption>
            {% regroup module.list by class_name as classes %}
            {% for class in classes %}
                <tr class="alt">
                    <th>{% filter capfirst %}{% if class.grouper %}{{ class.grouper }}{% else %}{% trans "Application settings" %}{% endif %}{% endfilter %}</th>
                    <th>&nbsp;</th>
                </tr>
                {% include "dbsettings/values.html" %}
            {% endfor %}
            </table>
        </div>
    {% endfor %}
{% csrf_token %}
    <div class="form-group">
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-success" />
        <a href="{% url 'clear_cache' %}" class="btn btn-warning">{% trans 'Clear cache' %}</a>
        <a href="{% url 'restart_engine' %}" class="btn btn-warning">{% trans 'Restart engine' %}</a>
    </div>
</form>
{% else %}
    <p>{% trans "You don't have permission to edit values." %}</p>
{% endif %}
</div>
{% endblock %}
