// review basic
h1{margin-top: 10px}
a, button, input[type="submit"]{@include transition(all .2s ease);}
ul, ol {
    padding: 0;
    .static-page &{margin-left: 10px}
}
.logo-image {
    position: relative;
    max-width: 100%;
    z-index: 1;
}


.glyphicon {
    header & {font-size: 50px}
    .toolbar & {margin-bottom: 10px}
    .navbar-header & {font-size: 20px}    
}

.navbar {
    border-left-width: 0;
    border-right-width: 0;
}
.navbar-toggle {
    padding: 4px 7px;
}

.toolbar {
    position: relative;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    &:hover, &:focus {
        text-decoration: none;
        color: #474749;
    }
}


.block{display: block}


.total-price {font-size: 25px}


.item-price {font-size: 20px}


.cart-link {position: relative}


.cart-link__count {
    display: block;
    position: absolute;
    margin-left: 30px;
    left: 50%;
    top: 10px;
    color: #474749;
}


.sapling-list {
    margin: 0;
    li {
        padding-left: 10px;
        border-top: 1px solid #d7d7d7;
        overflow: hidden;
        &:first-child{border-top: none}
    }
}


.menu-item {
    display: block;
    margin: 10px 0 10px 35px;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: bold;
    color: #474749 !important;
}


.sapling-item {
    &:before{
        position: absolute;
        top: 9px;
        left: 5px;
        content: "\e080";
        font-size: 30px;
        @extend .glyphicon;
    }
}


.sapling-expanded {
    &:before{
        position: absolute;
        top: 9px;
        left: 5px;
        content: "\e114";
        font-size: 30px;
        @extend .glyphicon;
    }
}




.desktop-version-toolbar {background: #fafafa}


html, body, #container { height: 100%; }

body > #container { height: auto; min-height: 100%; }

#container {

}


// endOf review basic






.top-toolbar {
    border-bottom: 2px solid #d7d7d7;
    text-decoration: none;
    header & {
       height: 110px;
   }
}

.top-toolbar > div {
    padding: 0;
    text-align: center;
}

/* .top-toolbar > div > a {
    
} */

.top-toolbar-button {
    background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%);
    border-left: 1px solid #d7d7d7;
}

.helper {
    height: 106px;
}

.icon {
    background: url('../../img/sprite.png');
    display: inline-block;
    position: relative;
}

.icon-profile {
    width: 54px;
    height: 54px;
    background-position: 0 -340px;
}

.icon-search {
    width: 46px;
    height: 54px;
    background-position: -60px -340px;
}

.icon-cart {
    width: 49px;
    height: 54px;
    background-position: -100px -283px;
}

.category-menu-wrapper {
    background: #fafafa;
}

.category-menu-container {
    padding: 0;
}

.category-menu-container ul {
    width: 100%;
    padding: 0;
}

.pages-toolbar {
    border-bottom: 2px solid #d7d7d7;
}

.footer {
    position: relative;
    clear: both;
    z-index: 10;
    height: 85px;
    margin-top: -85px;
    p{margin: 0 0 5px}
}

#container__inner{padding-bottom: 85px;}


.footer__inner {
    padding: 12px 0 0 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


.item_remove_btn {line-height: 34px}



.item_update_btn {line-height: 34px}



.price-depending {}


.cart {}


.product-wrapper {
    .input-group {
        .form-control{padding: 6px 5px}
        .btn{padding-bottom: 7px}
    }
}


.thank-you-text{margin-bottom: 20px}

.news-wrapper {
    img {
        width: 100% !important;
        height: auto !important;
    }
}

.logo-wrapper{height: 100%}


.logo{@include center-h-unk;}